@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LinkedIn: Log In or Sign Up</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">

    <link href="~/Content/css/style.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>

<body>
    <div class="header">
        <div class="header__logo">
            <img src="~/Content/img/logo.jpg" class="logo__img img-fluid" alt="Responsive image">
        </div>

        <div class="col-3 row nav__btns">
            <div class="col">
                <button class="nav__btn--join btn" type="button">Join now</button>
            </div>
            <button class="col nav__btn--sign btn btn-outline-primary" type="button">Sign in</button>
        </div>
    </div>

    <div class="section__home">
        <div class="section__tabs">
            <h1 class="tabs__title ">Welcome to your professional community</h1>

            <div class="tabs__content">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    @for (int y = 0; y < 2; y++)
                    {
                        string title = y == 0 ? "job" : "people";
                        string active = y == 0 ? "active" : "";
                        <li class="nav-item">
                            @Html.ActionLink(@title, null, null, new { @class = "nav-link " + active, @id = @title + "-tab", @data_toggle = "tab", @href = "#" + @title, @role = "tab", @aria_controls = @title, @aria_selected = @y == 0 ? "true" : "false" })
                        </li>
                    }
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="job" role="tabpanel" aria-labelledby="jobs-tab">
                        <br />
                        <div class="search">
                            <span class="fa fa-search"></span>
                            <input type="search" placeholder="Search job titles or companies" id="" class="search__jobs">
                        </div>
                        <br />
                        <div class="search">
                            <span class="fas fa-map-marker-alt"></span>
                            <input type="search" placeholder="Location" id="" class="search__location">
                        </div>
                        <button type="button" class=" btn btn--rounded-primary "> Search Jobs</button>

                    </div>
                    <div class="tab-pane fade " id="people" role="tabpanel" aria-labelledby="people-tab">
                        <br />
                        <div class="search">
                            <input type="search" placeholder="Firstname" id="" class="search__firstname">
                        </div>
                        <br />
                        <div class="search">
                            <input type="search" placeholder="Lastname" id="" class="search__lastname">
                        </div>
                        <button type="button" class=" btn btn--rounded-primary "> Search People</button>

                    </div>
                </div>
            </div>
        </div>

        <div class="section__img">
            <img src="~/Content/img/sec1.svg" class="img-fluid img__content" alt="Responsive image">
        </div>
    </div>

    <div class="internship">
        <div class="container">

            <div class="row">
                <div class="internship__content col">
                    <h1 class="content__header">
                        Find the right job or internship for you
                    </h1>
                </div>

                <div class="internship__search col">
                    <h3 div="search__header">SUGGESTED SEARCHES</h3>
                    @{int x = 1; }
                    @foreach (string item in Model.list1)
                    {
                        <button type="button" class=" btn btn--rounded-gray">@item</button>
                        if (x % 3 == 0)
                        {<br /><br />}
                        x++;
                    }

                </div>
            </div>
        </div>

    </div>

    <div class="job">
        <div class="container">
            <div class="row">
                <div class="job__content col-lg-6 col-md-12 col-sm-12">

                    <h2 class="content__header">Post your job for millions of people to see</h2>
                </div>
                <div class="job__post  col">
                    <button type="button" class=" btn btn--rounded-transparent "> Post a Job</button>

                </div>
            </div>
        </div>

    </div>

    <div class="find row">
        <div class="find__people col">
            <img class="people__img" alt="Connect with people who can help"
                 src="~/Content/img/connect.svg">
            <h2 class="people__header">
                Connect with people who can help
            </h2>
            <button type="button" class=" btn btn--rounded-primary "> Find people you know </button>
        </div>

        <div class="find__people col">
            <img class="people__img" alt="Connect with people who can help" src="~/Content/img/learn.svg">
            <h2 class="people__header">
                Learn the skills you need to succeed
            </h2>
            <div class="btn-group">
                <button type="button" class="btn btn-transparent dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Choose a topic to learn about
                </button>
                <div class="dropdown-menu">
                    @foreach (string item in Model.topic)
                    {
                        @Html.ActionLink(@item, null, null, new { @class = "dropdown-item", @href = "#" })
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row section__discover">
        <div class="col-lg-6 col-md-12 col-sm-12 section__bg">
            <div class="discovery__content">
                <h2 class="content__header">Who is LinkedIn for?</h2>
                <h3 class="content__subtitle">Anyone looking to navigate their professional life</h3>
                <ul class="content__list">
                    @{string term = " Find a coworker or classmate"; }
                    @for (int z = 0; z < 3; z++)
                    {
                        <li class="list__item">
                            <a class="list__button" data-tracking-control-name="homepage-basic_brand-discovery" data-tracking-will-navigate="" href="">
                                @term
                                <li-icon aria-hidden="true" id="chevron-right-icon" class="button__arrow" type="chevron-right-icon"></li-icon>
                            </a>
                        </li>
                        term = z < 1 ? "Find a new job" : "Find a course or training";
                    }
                </ul>
            </div>
        </div>

        <div class="col-lg-6 col-md-0 d-lg-block d-md-none section__img">
            <img class="discovery__img img-fluid" aria-hidden="true" alt="Who is LinkedIn for?" src="~/Content/img/whoislinkedinfor.jfif" alt="Responsive image">
        </div>
    </div>

    <div class="row section__marketing">
        <div class="col-8 section__bg">
        </div>

        <div class="row section__marketing">
            <div class="col-6 marketing__media">
                <iframe class="marketing__iframe" title="Whatever You're In It For, We're #InItTogether"
                        allowfullscreen="" src="https://www.youtube.com/embed/husM7ItmbFU?rel=0"></iframe>
            </div>
            <div class="col-6 marketing__copy">
                <h2 class="marketing__header">
                    Find your community
                </h2>
                <h3 class="marketing__subtitle">
                    No matter your profession, we're in it together
                </h3>
            </div>
        </div>
    </div>

    <div class="section__join">
        <div class="section__title">
            <h2 class="title__content">Join your colleagues, classmates, and friends on LinkedIn.</h2>
            @Html.ActionLink("Get started", null, null, new { @href = "", @class = "title__btn  btn btn--rounded-primary" })
        </div>
    </div>

    <div class="section__footer">

        <footer class="footer container">
            <div>
                <img class="footer__logo" src="~/Content/img/linkedIn-logo.png">
            </div>

            @{ Dictionary<string, List<string>> dic = new Dictionary<string, List<string>>() { { "General", Model.general }, { "Browse LinkedIn", Model.Browse }, { "Business Solution", Model.business }, { "Directories", Model.directories } };};

            @foreach (KeyValuePair<string, List<string>> item in dic)
            {
                <div>
                    <h3>@item.Key</h3>
                    <ul class="footer__list">

                        @foreach (string subItem in item.Value)
                        {
                            <li>
                                <button class="footer__text btn btn-link">@subItem</button>
                            </li>
                        }

                    </ul>
                </div>
            }

        </footer>
    </div>

    <footer class="footer-end container">

        <ul class="footer-end__list row">
            <li class="footer-end__li col-auto">
                <img class="footer-end__logo" src="~/Content/img/linkedin-black-logo.png">
                <span class="footer-end__text">© 2020</span>
            </li>
            <div class="col row footer-end__items">


                @foreach (string item in Model.contact)
                {
                    <li class="footer-end__li col-auto">
                        <button type="button" class="footer-end__text btn btn-link">@item</button>
                    </li>
                }

                <li class="footer-end__li col-auto">
                    <div class="dropdown">
                        <button class="footer-end__text btn btn-link" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Languages
                            <span> <i class="fas fa-chevron-down"></i></span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">

                            @foreach (string item in Model.lang)
                            {
                                <button class="footer-end__dropdown-item dropdown-item" type="button" class="btn">@item</button>
                            }
                        </div>
                    </div>
                </li>
            </div>
        </ul>
    </footer>

    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>

    <script src="~/Scripts/popper.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>