@using ITI.MVC.LinkedIn.Web.Models.Enums;
@using ITI.MVC.LinkedIn.DbLayer.Enums;
@model ITI.MVC.LinkedIn.Web.Models.ViewModels.PatentVM
@{
    AjaxOptions opts = new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "begin()",
        OnSuccess = "succ()",
        OnFailure = "fail()"

    };
}
<style>
    .countrySize {
        width: 100%;
    }
</style>
<div class="modal fade" id="Patents" tabindex="-1" role="dialog" aria-labelledby="FullModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content row">
            <div class="modal-header">
                <h5 class="modal-title" id="FullModalLabel">Add Patent</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("AddPatents", "Profile", opts))
                {
                    <div class="form-controls">
                        <div class="form-group">
                            <label for="" class="required">Patent title</label>
                            @Html.EditorFor(e => e.Title, new { htmlAttributes = new { @class = "form-control title" } })
                        </div>
                        <div class="form-group">
                            <label for="" class="required">Patent office</label>
                            @Html.DropDownListFor(e => e.Office, new SelectList(Model.AllCountry), " - ", new { @class = "countrySize" })
                        </div>
                        <div class="form-group">
                            <label for="" class="required">Patent or application number</label>
                            @Html.TextBoxFor(e => e.PatentNo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(e => e.PatentNo, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="" class="required">Inventor</label>
                            @Html.TextBoxFor(e => e.Inventor, new { @class = "form-control" })
                            @Html.ValidationMessageFor(e => e.Inventor, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(e => e.Status, "Status")<br />
                            @*< label for="" class="required">Status</label>*@
                            <div class="radiobtn">
                                @Html.RadioButtonFor(e => e.Status, "Issued", new { @checked = "checked" }) Patent Issued<br />
                                @Html.RadioButtonFor(e => e.Status, "Pending", new { @checked = "ii" }) Patent Pending
                            </div>
                        </div>
                        <div class="form-group">

                            <label for="" class="datename">Pending date</label><br />
                            @Html.DropDownListFor(e => e.Day, new SelectList(YearList.DaysListFun()), "Day")

                            @Html.DropDownListFor(e => e.Month, new SelectList(YearList.MonthListFun()), "Month")

                            @Html.DropDownListFor(e => e.Year, new SelectList(YearList.YearListFun()), "Year")

                        </div>
                        <div class="form-group">
                            <label for="">Publication URL</label>
                            @Html.TextBoxFor(e => e.URL, new { @class = "form-control" })
                            @Html.ValidationMessageFor(e => e.URL, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="">Description</label>
                            @Html.TextBoxFor(e => e.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(e => e.Description, null, new { @class = "text-danger" })
                        </div>

                        <div class="modal-footer">
                            <input type="submit" value="Save" />
                            @*<button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>*@
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    function begin() {
        console.log("begain");
    }
    function succ() {
        console.log("succ");

        var no = parseInt(document.querySelector(".accomplishment__number").innerHTML);

        document.querySelector(".accomplishment__number").innerHTML = " " + (no + 1) + " ";

        document.querySelector(".accomplishment__description").innerHTML += "<div class='publicationPart' style='display:inline-block'> * " + document.querySelector(".title").value + "<div>";

    }
    function fail() {
        console.log("fail");
    }

</script>