@*=[*@
@model ITI.MVC.LinkedIn.Web.Models.ViewModels.PublicationVM
@using ITI.MVC.LinkedIn.Web.Models.Enums;

@{
    AjaxOptions opts = new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "begin()",
        OnSuccess = "succ()",
        OnFailure = "fail()"

    };
}
<div class="contain" style="background-color:palegreen">
    <div class="modal fade" id="Publications" tabindex="-1" role="dialog" aria-labelledby="FullModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="FullModalLabel">Add publication</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Ajax.BeginForm("AddPublication", "Profile", opts))
                    {
                        <div class="form-controls">
                            <div class="form-group">
                                <label for="" class="required tit">Title </label>
                                @Html.EditorFor(e => e.Title, new { htmlAttributes = new { @class = "form-control title" } })
                                @Html.ValidationMessageFor(e => e.Title, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="" class="required">Publication/Publisher</label>
                                @Html.TextBoxFor(e => e.Publisher, new { @class = "form-control" })
                                @*@Html.ValidationMessageFor(e => e.Publisher, null, new { @class = "text-danger" })*@
                            </div>
                            <div class="form-group">
                                <label for="">Publication date</label><br />
                                @Html.DropDownListFor(e => e.Day, new SelectList(YearList.DaysListFun()), "Day")

                                @Html.DropDownListFor(e => e.Month, new SelectList(YearList.MonthListFun()), "Month")

                                @Html.DropDownListFor(e => e.Year, new SelectList(YearList.YearListFun()), "Year")

                            </div>
                            <div class="form-group">
                                <label for="">Author</label>
                                @Html.TextBoxFor(e => e.Author, new { @class = "form-control" })
                                @Html.ValidationMessageFor(e => e.Author, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="">Publication URL</label>
                                @Html.TextBoxFor(e => e.URL, new { @class = "form-control" })
                                @Html.ValidationMessageFor(e => e.URL, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="">Description</label>
                                @Html.TextBoxFor(e => e.Description, new { @class = "form-control" })
                                @Html.ValidationMessageFor(e => e.Description, null, new { @class = "text-danger" })
                            </div>
                            <div class="modal-footer">
                                <input type="submit" value="Save" />
                                @*<button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>*@
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function begin() {
            console.log("begain");
        }
        function succ() {
            console.log("succ");

            var no = parseInt( document.querySelector(".accomplishment__number").innerHTML);

            document.querySelector(".accomplishment__number").innerHTML =" "+(no+1)+" ";

            document.querySelector(".accomplishment__description").innerHTML += "<div class='publicationPart' style='display:inline-block'> * " + document.querySelector(".title").value +"<div>";

        }
        function fail() {
            console.log("fail");
        }

    </script>

