@model ITI.MVC.LinkedIn.Web.Models.ViewModels.VoulanteerVM
@{ string action = ViewBag.actionName;}
@using (Ajax.BeginForm(action, "Profile", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }))
{
    if (action == "EditVolunteer")
    {
        @Html.HiddenFor(m => m.Volunteer.ExperienceId)
        @Html.HiddenFor(m => m.Volunteer.Experience.OrganizationId)
        @*@Html.HiddenFor(m => m.Volunteer..UserId)*@
    }

                    <div class="form-controls">
                        <div class="form-group">
                            <label for="" class="required">Organization</label>
                            @Html.TextBoxFor(m => m.Volunteer.Experience.Organization.Name, new { @class = "form-control", @placeholder = "Ex:Red Cross" })
                            @Html.ValidationMessageFor(m => m.Volunteer.Experience.Organization.Name, "", new { @class = "text-danger" })


                            @*<input class="form-control" type="text" name="" id="" placeholder="Ex:Red Cross">*@
                        </div>

                        <div class="form-group">
                            <label for="" class="required">Role</label>
                            @Html.TextBoxFor(m => m.Volunteer.Role, new { @class = "form-control", @placeholder = "Ex:Fund Raising Volunteer" })
                            @Html.ValidationMessageFor(m => m.Volunteer.Role, "", new { @class = "text-danger" })


                            @*<input class="form-control" type="text" name="" id="" placeholder="Ex:Fund Raising Volunteer">*@
                        </div>

                        <div class="form-group">
                            <label for="">Cause</label>
                           @Html.EnumDropDownListFor(x => x.Volunteer.VolunteeringCause, "-", new { @class = "form-control" })


                            @*<select class="form-control" name="" id="">
                                <option value="" disabled selected hidden>-</option>
                                <option value="">Opa</option>
                                <option value="">Opaa</option>
                                <option value="">Opaaa</option>
                                <option value="">Opaaaa</option>
                                <option value="">Opaaaaa</option>
                            </select>*@
                        </div>
                        <div class="form-group">
                            <div>
                                <input type="checkbox" name="" id="CurrentlyWorking">
                                <span>
                                    I am currently volunteering in this role
                                </span>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="" class="required">Start Date</label>
                                    <div class="row">
                                        <div class="col-sm-12">

                                            @Html.DropDownListFor(e => e.StartMonth, EnumHelper.GetSelectList(typeof(ITI.MVC.LinkedIn.Web.Models.Enums.MonthEnum)), "Month", new { @class = "form-control" })
                                        </div>
                                        <div class="col-sm-12">
                                            @Html.DropDownListFor(e => e.StartYear, new SelectList(ITI.MVC.LinkedIn.Web.Models.Enums.YearList.YearListFun()), "Year", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6"id="EndWorkDateVolunteer">
                                    <label for="" class="required">End Date</label>
                                    
                                    <div class="row" >
                                        <div class="col-sm-12">

                                            @Html.DropDownListFor(e => e.EndMonth, EnumHelper.GetSelectList(typeof(ITI.MVC.LinkedIn.Web.Models.Enums.MonthEnum)), "Month", new { @class = "form-control" })
                                        </div>
                                        <div class="col-sm-12">
                                            @Html.DropDownListFor(e => e.EndYear, new SelectList(ITI.MVC.LinkedIn.Web.Models.Enums.YearList.YearListFun()), "Year", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Description</label>
                            @Html.TextAreaFor(m => m.Volunteer.Experience.Description, 4, 30, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Volunteer.Experience.Description, "", new { @class = "text-danger" })


                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
@if (action == "EditVolunteer")
{
                        @Ajax.ActionLink("delete", "DeleteVolunteer", new { id = Model.Volunteer.ExperienceId },
new AjaxOptions
{
    OnSuccess = "OnSuccess"

})
}       </div>

           
}

@Html.Partial("_Scripts")
<script>
    //$("#CurrentlyWorking").s
    $('input[type="checkbox"]').click(function () {
        if ($(this).prop("checked") == true) {
            $("#EndWorkDateVolunteer").hide();
        }
        else if ($(this).prop("checked") == false) {
            $("#EndWorkDateVolunteer").show();
        }
    });
    function OnSuccess() {
        debugger
        $("#volunteer").modal('hide');
        $("#Background").load(" #Background");
    }
</script>