@model ITI.MVC.LinkedIn.Web.Models.ViewModels.ProjectsVM
@{ if (Model.ProjectsCount > 0)
    {
        <div id="courses-body" class="body-container h4">
            <div class="float-right">
                <a onclick="EditProject(@Model.id)" class="btn btn--plus" style="color:#0E7BB5"><i class="fas fa-pencil-alt"></i> </a>
            </div>
            <div class="course-Name font-weight-bold"> @Model.Name</div>
            <div class="course-number font-weight-normal p">@Model.StartDate.GetValueOrDefault().ToString("MMM yyyy") - @Model.EndDate.GetValueOrDefault().ToString("MMM yyyy")</div>
            <div class="course-number font-weight-normal p">@Model.Description</div>
            <hr />
        </div>
    }
    else
    {

<div class="accomplishment">
    <div class="accomplishment__section accomplishment__section1">
        <p id="project-read-count" class="accomplishment__number">1</p>
    </div>
    <div class="accomplishment__section accomplishment__section2 mr-3">
        <h4 class="accomplishment__type">
            Project
        </h4>
        <p id="project-read-names" class="accomplishment__description">
             @Model.Name
        </p>
    </div>
    <div class="accomplishment__section accomplishment__section3 float-md-right">
        <button class="btn " data-toggle="collapse" data-target="#ProjectColl" id="Project-button"><i class="fas fa-chevron-down"></i></button>
        <a class="btn btn--arrow" id="btn-2"> <i class="fas fa-chevron-up"></i></a>
    </div>

    <div id="ProjectColl" class="collapse">
        <div id="projects-read-body" class="body-container h4">
            <div class="float-right">
                <a onclick="EditProject(@Model.id)" class="btn btn--plus" style="color:#0E7BB5"><i class="fas fa-pencil-alt"></i> </a>
            </div>
            <div class="course-Name font-weight-bold"> @Model.Name</div>
            <div class="course-number font-weight-normal p">@Model.StartDate.GetValueOrDefault().ToString("MMM yyyy") - @Model.EndDate.GetValueOrDefault().ToString("MMM yyyy")</div>
            <div class="course-number font-weight-normal p">@Model.Description</div>
            <hr />
        </div>
    </div>

</div>
    }
}


<script type="text/javascript">
    $(document).ready(function () {
        if (@Model.ProjectsCount > 0) {
            $("#project-read-names").append(`<i class="fas fa-circle" style="font-size: 5px"></i> @Model.Name`);
            document.getElementById("project-read-count").innerHTML = @Model.ProjectsCount +1;
        }



    });
</script>
